.cartItems {
    background-color: aliceblue;
    box-shadow: inset;

}

.payment {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    background-color: rgb(249, 238, 224);
    min-height: 100px;
    max-height: fit-content;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    /* position: fixed; */
    top: 20%;
    left: 62%;
}

.addButton {
    max-width: 500px;
    min-width: 200px;
}

.buttonInButton {
    max-width: 50px;
    min-width: 30px;
}

.empty-state {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4px;
    text-align: center;
}