

.cartItems {
    background-color: aliceblue;
    box-shadow: inset;
    border-radius: 12px;
}

.payment {
    background-color: rgb(249, 238, 224);
    min-height: 100px;
    max-height: fit-content;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    /* position: fixed; */
}

.addButton {
    max-width: 500px;
    min-width: 150px;
}

.buttonInButton {
    max-width: 50px;
    min-width: 30px;
}

.empty-state {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px;
    text-align: center;
}
.buttonInButton {
    min-width: 30px;
}
.mat-mdc-button:has(.material-icons, mat-icon, [matButtonIcon]){
    padding: 10px;
}
.mat-mdc-button > .mat-icon {
    margin: 0%;
}
.mat-mdc-raised-button {
    padding: 15px;
}